<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <a class="navbar-brand" href="./login.html">Task Assistant +</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="./tasks.html">All Tasks</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="./tasks2.html">Today's Tasks <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="./logout.html">Logout</a>
            </li>
        </ul>
    </div>
</nav>


    <div class="jumbotron jumbotron-fluid bg-primary">
        <div class="container text-center">
            <h1 class="display-4 ">Your Task Assistant +</h1>
            <p class="lead">Your Daily needs in one place.</p>
        </div>
    </div>

    <div class="container">

        <div class="row">
            <div class="col-4">
                <div class="card-body text-dark education today-cont">
                    <h5 class="card-title text-info">Current Weather</h5>
                    <div class="card" style="width: 18rem;">
                        <div class="card-header" id="city">
                            City
                        </div>
                        <div id="to-Day">Tuesday</div>
                        <div id="to-Date">00</div>

                        <ul class="list-group list-group-flush listy">
                            <li class="list-group-item" id="temperature">Temperature:</li>
                            <li class="list-group-item" id="humidity">Humidity:</li>
                            <li class="list-group-item" id="uvi">UV Index: <span id="vally"></span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-8">
                <div class="jumbotron">
                    <h1>Tasks for Today:</h1>
                    <h4>placeholder task</h4>
                    <p class="lead">This is an extremely important task and you need to make sure to complete it today!
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">

        <div class="row">
            <div class="col-8">
                <button type="submit" class="btn btn-primary" id="run-search">
                    Today's Headlines</button>
                <div class="card-body text-dark education" id="today-cont"> </div>
            </div>
            <div class="col-4">
                <div>
                    <a href="./addTasks.html" class="btn btn-warning cent">Add a new task</a>
                </div>
            </div>
        </div>
    </div>





    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/script.js"></script>